spec/fixtures/correios/wsdl.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.scol.correios.com.br/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice.scol.correios.com.br/" name="WebServiceScol">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice.scol.correios.com.br/" schemaLocation="http://webservicescolhomologacao.correios.com.br:80/ScolWeb/WebServiceScol?xsd=1"/>
</xsd:schema>
</types>
<message name="solicitarPostagem">
<part name="parameters" element="tns:solicitarPostagem"/>
</message>
<message name="solicitarPostagemResponse">
<part name="parameters" element="tns:solicitarPostagemResponse"/>
</message>
<message name="solicitarPostagemReversa">
<part name="parameters" element="tns:solicitarPostagemReversa"/>
</message>
<message name="solicitarPostagemReversaResponse">
<part name="parameters" element="tns:solicitarPostagemReversaResponse"/>
</message>
<message name="solicitarPostagemSimultanea">
<part name="parameters" element="tns:solicitarPostagemSimultanea"/>
</message>
<message name="solicitarPostagemSimultaneaResponse">
<part name="parameters" element="tns:solicitarPostagemSimultaneaResponse"/>
</message>
<message name="cancelarPedido">
<part name="parameters" element="tns:cancelarPedido"/>
</message>
<message name="cancelarPedidoResponse">
<part name="parameters" element="tns:cancelarPedidoResponse"/>
</message>
<message name="acompanharPedido">
<part name="parameters" element="tns:acompanharPedido"/>
</message>
<message name="acompanharPedidoResponse">
<part name="parameters" element="tns:acompanharPedidoResponse"/>
</message>
<message name="validarPostagemSimultanea">
<part name="parameters" element="tns:validarPostagemSimultanea"/>
</message>
<message name="validarPostagemSimultaneaResponse">
<part name="parameters" element="tns:validarPostagemSimultaneaResponse"/>
</message>
<message name="validarPostagemReversa">
<part name="parameters" element="tns:validarPostagemReversa"/>
</message>
<message name="validarPostagemReversaResponse">
<part name="parameters" element="tns:validarPostagemReversaResponse"/>
</message>
<message name="calcularDigitoVerificador">
<part name="parameters" element="tns:calcularDigitoVerificador"/>
</message>
<message name="calcularDigitoVerificadorResponse">
<part name="parameters" element="tns:calcularDigitoVerificadorResponse"/>
</message>
<message name="solicitarRange">
<part name="parameters" element="tns:solicitarRange"/>
</message>
<message name="solicitarRangeResponse">
<part name="parameters" element="tns:solicitarRangeResponse"/>
</message>
<portType name="WebServiceScol">
<operation name="solicitarPostagem">
<input message="tns:solicitarPostagem"/>
<output message="tns:solicitarPostagemResponse"/>
</operation>
<operation name="solicitarPostagemReversa">
<input message="tns:solicitarPostagemReversa"/>
<output message="tns:solicitarPostagemReversaResponse"/>
</operation>
<operation name="solicitarPostagemSimultanea">
<input message="tns:solicitarPostagemSimultanea"/>
<output message="tns:solicitarPostagemSimultaneaResponse"/>
</operation>
<operation name="cancelarPedido">
<input message="tns:cancelarPedido"/>
<output message="tns:cancelarPedidoResponse"/>
</operation>
<operation name="acompanharPedido">
<input message="tns:acompanharPedido"/>
<output message="tns:acompanharPedidoResponse"/>
</operation>
<operation name="validarPostagemSimultanea">
<input message="tns:validarPostagemSimultanea"/>
<output message="tns:validarPostagemSimultaneaResponse"/>
</operation>
<operation name="validarPostagemReversa">
<input message="tns:validarPostagemReversa"/>
<output message="tns:validarPostagemReversaResponse"/>
</operation>
<operation name="calcularDigitoVerificador">
<input message="tns:calcularDigitoVerificador"/>
<output message="tns:calcularDigitoVerificadorResponse"/>
</operation>
<operation name="solicitarRange">
<input message="tns:solicitarRange"/>
<output message="tns:solicitarRangeResponse"/>
</operation>
</portType>
<binding name="WebServiceScolPortBinding" type="tns:WebServiceScol">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="solicitarPostagem">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="solicitarPostagemReversa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="solicitarPostagemSimultanea">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cancelarPedido">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="acompanharPedido">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="validarPostagemSimultanea">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="validarPostagemReversa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="calcularDigitoVerificador">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="solicitarRange">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WebServiceScol">
<port name="WebServiceScolPort" binding="tns:WebServiceScolPortBinding">
<soap:address location="http://webservicescolhomologacao.correios.com.br:80/ScolWeb/WebServiceScol"/>
</port>
</service>
</definitions>